@import "../../constants/vars";

.button {
  margin-top: $base-padding;
  padding: $base-padding;
  margin-bottom: $base-padding;

  text-decoration: none;
  text-align: center;
  background: #212121;
  color: white;
  border: 0px;
  font-size: 1em;
  cursor: pointer;

  box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.25),
    /* highlight */ 1px 1px 3px rgba(0, 0, 0, 0.75); /* shadow */
  -webkit-transition: 500ms linear;
  -moz-transition: 500ms linear;
  -o-transition: 500ms linear;
  transition: 500ms linear;
}

.button:hover {
  background: #333333;
  box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.25),
    /* highlight */ 1px 1px 3px rgba(0, 0, 0, 0.75); /* shadow */
}
