@import "../../constants/vars";

#overView {
  display: flex;
  padding: 8px;
  font-size: 18px;
  text-align: left;
  color: white;
  background-color: #111111;
  margin-top: 32px;

  > h2 {
    text-align: center;
  }

  #overViewList {
    position: flex;
    max-height: 80%;
    width: 100%;
    overflow-y: auto;
    border: 1px solid #333333;
    margin: auto;
    margin-bottom: 2*$base-padding;
  }
}



#overView ::-webkit-scrollbar {
  width: 16px;
}

#overView ::-webkit-scrollbar-track {
  background: #888888; 
}
 
#overView ::-webkit-scrollbar-thumb {
  background: #333333; 
}

#overView ::-webkit-scrollbar-thumb:hover {
  background: #222222; 
}