@import '../../constants/vars';

.listItem:first-of-type {
  margin-top: 0;
}

.listItem {
  color: white;
  background-color: #333333;
  margin-top: $base-padding/2;
  padding: $base-padding;

  cursor: pointer;

  .disabled {
  background-color: grey;
}



.approved {
  background-color: green;
}

}

.exitButton {
  font-size: 2em;
  color: $placeholder-color;
  cursor: pointer;
}

.listItem:hover {
  background-color: #222222;
}

