@import "../../constants/vars";
@import "../boxes/generalTextboxStyles.scss";

.container {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;

  width: 50%;
  > .container-100 {
    width: 100%;
    outline: 4px solid black;
  }
}

.textboxRow {
  margin-top: $base-padding * 3;
  width: 100%;
}

.textboxRow:nth-of-type(1) {
  margin-top: 0;
}

.warning {
  padding-inline-start: $base-padding;
  padding-bottom: $base-padding;
  color: red;
}

.grid-2-1 > div {
  margin-bottom: $base-padding / 2;
}

@media screen and (min-width: 850px) {
  .grid-2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: $base-padding;

    .span-2 {
      grid-row: span 2;
    }

    & > div {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: $small-mobile-breakpoint) {
  .container {
    width: 100%;
  }
}

