#login {
    margin: auto;
    width: 50%;
    color: white;
    background-color: #212121;
    padding: 12px;
    padding-top: 0px;
    margin-top: 32px;
}

#login a {
    color: #5C83CE;
}

#login p {
    margin-top: 12px;
}