.menu {
  height: 100%;
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;

  background: white;
  z-index: 10000;

  color: black;
}

.header {
  display: flex;
  flex-direction: column;
}

.exit {
  justify-self: start;
  align-self: flex-start;
}

ul {
  justify-self: center;
  align-self: center;
  background-color: green;
  bottom: 0;
}