@import '../../../constants/vars';

.priceBox {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr;
	grid-gap: $base-padding / 6;
	margin-top: $base-padding / 2;

	#spec {
		flex-grow: 1;
		width: 100%;
	}

	> div * {
		padding: 12px;
		width: 100%;
		box-sizing: border-box;
	}

	p {
		background-color: $background-color-2;
	}

	input {
		background-color: $background-color-3;
		outline: none;
		border: none;
		color: $foreground-color-4;
	}

	input[type='number'] {
		-moz-appearance: textfield;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	.errorMessage {
		font-size: $standard-font-size / 1.5;
		background-color: $background-color-3;
		padding: $base-padding / 2;
		color: red;
	}
}

.priceBox:nth-of-type(1) {
	margin: 0;
}
