.inputField {
    margin: 0px;
    font-size: 18px;
    text-align: left;
    background-color: #333333;
    padding:8px;
    color:  white;

    width: calc(100% - 16px);
    outline: none;
}

p {
    margin: 0px;
    font-size: 18px;
    background-color: #212121;
    text-align: center;
    padding:8px;
}