@import "../../constants/vars";

.form-container {
  display: flex;
  flex-direction: column;
  flex-grow: 10;
  width: 80%;
  margin: auto;
  justify-content: center;
  padding: 16px;
}

.descr-text {
  padding: $base-padding;
  min-width: 15%;
  flex-grow: 1;
  background-color: white;
  color: black;
  text-align: left;
}

.descr-title {
  margin-top: $base-padding/2;
  text-align: center;
  font-weight: bold;
}

.t-info-title {
  padding: $base-padding;
  min-width: 15%;
  flex-grow: 1;
  background-color: white;
  color: black;
  text-align: center;
  margin-top: $base-padding/2;
  font-weight: bold;
}

.infoContainer {
  color: black;
}
.srow {
  display: flex;

  .scol {
    margin: -1px;
    width: 10%;
    border: black solid 1px;
    padding: 10px;
    background-color: white;
  }

  .large {
    flex-grow: 2;
  }
}

.stitle p {
  font-weight: bold;
}

.specContainer {
  color: black;
}

.total .empty {
  background-color: transparent;
}

.total .scol {
  width: auto;
}

.srow {
  display: flex;
  width: 100%;

  .scol {
    width: 10%;
  }
  .large {
    flex-grow: 2;
  }
}

.t-row {
  display: flex;
  font-size: $standard-font-size;
  text-align: left;
  color: black;
  margin: -1px;

  .trow-title {
    padding: $base-padding;
    min-width: 25%;
    flex-grow: 1;
    background-color: white;
    border: 1px solid black;
  }
  .t-val {
    padding: $base-padding;
    flex-grow: 10;
    background-color: white;
    border: 1px solid black;
  }
}
