@import '../../../constants/_vars.scss';

.srow{
    
    display: flex;

    .scol {
        margin: -1px;
        width: 10%;
        border: black solid 1px;
        padding: 10px; 
        background-color: white;
    }

    .large {
        flex-grow: 2;
    }
}

.stitle p {
    font-weight: bold;
}

.specContainer {
    color: black;
}


.total .empty {
    background-color: transparent;
}

.total .scol {
    width: auto;
}

