@import '../../../constants/_vars.scss';

.inputTextBox {
	display: flex;
	margin-top: $base-padding/2;

	input {
		font-size: $standard-font-size;
		background-color: #333333;
		padding: $base-padding;
		color: white;
		outline: none;
		flex-grow: 1;
		border: 0;
	}

	.title {
		font-size: $standard-font-size;
		background-color: #212121;
		min-width: 15%;
	}
}

.error {
	border: 1px solid red;
}
