.l-temp {
    margin: 0px;
    font-size: 18px;
    text-align: left;
    background-color: #333333;
    padding:8px;
}

.l-title {
    margin: 0px;
    font-size: 18px;
    text-align: left;
    background-color: #212121;
    padding:8px;
    float: left;
    width: 25%;
}