@import '../../../constants/vars';

@import './lefttextbox.scss';
@import './generalTextboxStyles.scss';

select {
	color: white;
	font-size: $standard-font-size;
	background-color: $background-color-3;
	padding: $base-padding;
	border: none;
	width: 100%;
	option {
		padding: $base-padding;
	}

	&:focus {
		outline: none;
	}

	option:hover {
		background-color: $background-color-3;
	}
}
