.temp {
    margin: 0px;
    font-size: 18px;
    text-align: left;
    background-color: #333333;
    padding:8px;
}

.title {
    margin: 0px;
    font-size: 18px;
    text-align: left;
    background-color: #212121;
    text-align: center;
    padding:8px;
}