@import '../../../constants/_vars.scss';

.t-temp {
    margin: 0px;
    font-size: 18px;
    text-align: left;
    background-color: #333333;
    padding:8px;
    color:  white;
    width: 100%;
    outline: none;
    display: flex;
    flex-direction: column;
    border: 0px;
}

.t-title {
    font-size: $standard-font-size;
    background-color: #212121;
    padding-block: $base-padding - 4;
    padding-inline: $base-padding;
    width: 15%;
    text-align: left;
    height: 100%;
    margin: 0;
}