
#overView {
	display: flex;
	padding: 8px;
	font-size: 18px;
	text-align: left;
	color: white;
	background-color: #111111;
	margin-top: 32px;
}

#overViewList{
	position: flex;
	top: 128px;
	left: auto;
	height: 512px;
	width: 512px;
	overflow-y: auto;
	border: 1px solid #333333;
}

.ovListElement{
	width: calc(100% - 24px);
	height: 48px;
	line-height: 48px;
	color: white;
	background-color: #333333;
	margin-top: 4px;
	padding: 4px;
	padding-left: 12px;

	cursor: pointer;
}
.ovListElement:hover{
	background-color: #222222;
}

#approvedKasSymbol{	
	float: right;
	width: 40px;
}
#approvedDegSymbol{
	float: right;
	width: 40px;
}
