@import "../../constants/vars.scss";

.darkOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($background-color-1, 0.9);
  z-index: 10;
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;

  max-width: 350px;
  width: 90%;

  display: flex;
  flex-direction: column;

  // for browsers that don't support backdrop filter
  background: $background-color-2
    linear-gradient(45deg, rgba($dsek-blue, 0.5), rgba($dsek-green, 0.5));
  // for the most modern browsers
  @supports (backdrop-filter: blur(20px)) {
    background: linear-gradient(
      45deg,
      rgba($dsek-blue, 0.5),
      rgba($dsek-green, 0.5)
    );
    backdrop-filter: blur(20px);
  }

  box-shadow: $box-shadow-raised;
  z-index: 30;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.exit {
  position: absolute;
  box-sizing: initial;
  padding: 12px;
  height: 24px;
  width: 24px;
  color: #fff;
  cursor: pointer;
}

.exit:hover {
  color: #e5398d;
}

.icon:hover {
  color: #e5398d;
}

.imgWrapper {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin: $base-padding;
  margin-top: $base-padding * 2;
  img {
    max-width: 95%;
    border-radius: 50%;
    margin: 0;
  }
}

ul {
  margin: 0;
  padding: 0;

  font-size: $standard-font-size;

  li {
    list-style: none;
    margin: 0;

    p {
      display: block;
      padding: $base-padding * 2;
      text-decoration: none;
      color: $foreground-color-3;
      font-weight: 400;
      font-size: $standard-font-size * 1.3;

      &:hover {
        background: rgba($background-color-1, 0.5);
      }
    }
    .thisPage {
      background: rgba($background-color-1, 0.3);
    }
  }
}

.footer {
  text-align: center;
  margin-top: auto;
  padding: $base-padding;

  > p {
    color: $background-color-1;
    background-color: transparent;
    line-height: 1.3;
    font-size: $standard-font-size * 1.3;
    a {
      color: $foreground-color-3;
    }
  }

  > div {
    margin-top: $base-padding;
    > a {
      color: $background-color-1;
      &:hover {
        color: $dsek-cerise;
      }
      svg {
        height: 3 * $base-padding;
        width: 3 * $base-padding;
      }
    }
  }
}
