@import "../../../constants/vars";

.multilineBox {
  display: flex;
  flex-direction: column;

  textarea {
    resize: none;
    height: 100%;
    background-color: $background-color-3;
    color: white;
    border: 0px;
    margin: 0px;
    font-size: $standard-font-size;
    font-family: $dsek-font-order;
    padding: $base-padding;

    &:focus {
      outline: none;
    }
  }
}
